rapi-doc::part(section-navbar) {
    /* height: calc(100vh); */
}

.oapi .md-main__inner.md-grid {
    max-width: 100vw;
}
.oapi .md-content__inner.md-typeset {
    margin-bottom: 0px;
}
.oapi .md-content__inner.md-typeset > h1{
    display: none;
}
.oapi .md-content__inner.md-typeset > p {
    height: auto !important;
    margin-top:0;
    margin-bottom:0;
    position:relative;
    top:-45px;
}
