{
  "openapi": "3.0.1",
  "info": {
    "title": "Beamable API",
    "contact": {
      "name": "Beamable Support",
      "url": "https://beamable.com/contact-us",
      "email": "support@beamable.com"
    },
    "version": "1.0",
    "x-beamable-semantic-type": "Semantic type information for use in automatic SDK generation"
  },
  "servers": [
    {
      "url": "https://api.beamable.com"
    }
  ],
  "paths": {
    "/api/admin/inflight/failures": {
      "get": {
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "serviceName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceObjectId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminActorInFlightFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteInFlightRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/auth/refresh-token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Generate a new access token for a previously authenticated account. DEPRECATED: Use `tokens/refresh-token` instead.",
        "requestBody": {
          "description": "`RefreshTokenAuthRequest`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/auth/tokens/refresh-token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Generate a new access token for a previously authenticated account.",
        "requestBody": {
          "description": "`RefreshTokenAuthRequest`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/auth/tokens/guest": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Generate a new access token for a brand-new player.",
        "requestBody": {
          "description": "`GuestAuthRequest`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/auth/tokens/password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Generate a new access token when given email and password credentials",
        "requestBody": {
          "description": "`PasswordAuthRequest`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/auth/server": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Generate a new access token for a machine with a shared secret",
        "requestBody": {
          "description": "`ServerTokenAuthRequest`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerTokenAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/manifests": {
      "post": {
        "tags": [
          "Beamo"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeamoV2PostManifestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ManifestChecksum"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2GetManifestsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/manifests/{manifestId}": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "manifestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2Manifest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ProtoError"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/manifests/current": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2Manifest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ProtoError"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Beamo"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2EmptyMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/manifests/promote": {
      "post": {
        "tags": [
          "Beamo"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeamoV2PromoteBeamoManifestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2EmptyMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/templates": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2GetTemplatesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/status": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2GetStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/registry-uri": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2UriResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/services/registrations": {
      "post": {
        "tags": [
          "Beamo"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeamoV2ServiceRegistrationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ServiceRegistrationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/services/federation": {
      "post": {
        "tags": [
          "Beamo"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeamoV2ServiceRegistrationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2FederationRegistrationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/services/{serviceName}/federation/traffic": {
      "put": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeamoV2ServiceRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeamoV2DeleteRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/services/{serviceName}/metrics-request": {
      "post": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeamoV2GetMetricsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2SignedRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/services/{serviceName}/logs/query": {
      "post": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeamoV2StartServiceLogsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2QueryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/services/logs/query/{queryId}": {
      "delete": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "queryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ApiBeamoServicesLogsQueryDeleteBeamoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "queryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2SignedRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/services/secret": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2GetServiceSecretResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/storage/connection": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ConnectionStringResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/storage/{storageObjectName}/performance": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "storageObjectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Period",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Granularity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2StoragePerformance"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/services/{serviceName}/logs/context": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routingKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2ServiceLoggingContext"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeamoV2ServiceLoggingContext"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Beamo"
        ],
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routingKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/services/logs/context": {
      "get": {
        "tags": [
          "Beamo"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeamoV2GetAllServiceLoggingContexts"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/otel/views": {
      "get": {
        "tags": [
          "BeamoOtel"
        ],
        "parameters": [
          {
            "name": "playerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OtelViewsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelViewsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelViewsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "BeamoOtel"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtelView"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OtelView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelView"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/otel/views/{viewId}": {
      "delete": {
        "tags": [
          "BeamoOtel"
        ],
        "parameters": [
          {
            "name": "viewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiBeamoOtelViewsDeleteBeamoOtelResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "BeamoOtel"
        ],
        "parameters": [
          {
            "name": "viewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOtelViewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OtelView"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelView"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelView"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/otel/auth/reader/config": {
      "get": {
        "tags": [
          "BeamoOtel"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OtelAuthConfig"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelAuthConfig"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelAuthConfig"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/beamo/otel/auth/writer/config": {
      "get": {
        "tags": [
          "BeamoOtel"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OtelAuthConfig"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelAuthConfig"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtelAuthConfig"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers": {
      "post": {
        "tags": [
          "Customer"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerActorNewCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorNewCustomerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorCustomersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/verify": {
      "post": {
        "tags": [
          "Customer"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerActorNewCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorNewCustomerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/activate": {
      "put": {
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCustomersActivatePutCustomerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorCustomerView"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/admin-view": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorCustomer"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/config": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorRealmConfigResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/games": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGamesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewGameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealmView"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/games/{gameId}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGamesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerActorUpdateGameHierarchyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/realms": {
      "post": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRealmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/realms/{realmId}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealmView"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/realms/{realmId}/rename": {
      "put": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameRealmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/realms/{realmId}/config": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorRealmConfigResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerActorRealmConfigSaveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealmConfigChangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/realms/{realmId}/client-defaults": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorRealmConfiguration"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/realms/{destinationRealmId}/promotion": {
      "post": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationRealmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerActorPromoteRealmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorPromoteRealmResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationRealmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceRealmId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "promotables",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorPromoteRealmResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/aliases/{alias}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerActorAliasAvailableResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/customers/{customerId}/alias": {
      "put": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCustomerAliasRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/lobbies": {
      "get": {
        "tags": [
          "Lobby"
        ],
        "summary": "Query for active lobbies",
        "parameters": [
          {
            "name": "Skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "MatchType",
            "in": "query",
            "schema": {
              "type": "string",
              "x-beamable-semantic-type": "ContentId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LobbyQueryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Lobby"
        ],
        "summary": "Create a lobby. A leader is not necessary to create a lobby.",
        "requestBody": {
          "description": "The Create request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLobby"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lobby"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Lobby"
        ],
        "summary": "Exposes the internal \"SetLobby\" behavior as an Admin only endpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Lobby"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetLobbyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/lobbies/{id}": {
      "get": {
        "tags": [
          "Lobby"
        ],
        "summary": "Get the current status of a lobby by id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The lobby id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lobby"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Lobby"
        ],
        "summary": "Join a lobby",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the lobby",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The join lobby request. Includes tags.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinLobby"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lobby"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Lobby"
        ],
        "summary": "Remove the requested player from the lobby. The host is able to remove anyone. Others may\nonly remove themselves without error.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the lobby",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Request including the player requested to remove",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveFromLobby"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Acknowledge"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/lobbies/passcode": {
      "put": {
        "tags": [
          "Lobby"
        ],
        "summary": "Join a lobby by passcode.",
        "requestBody": {
          "description": "The join lobby request. Includes tags.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinLobby"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lobby"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/lobbies/{id}/metadata": {
      "put": {
        "tags": [
          "Lobby"
        ],
        "summary": "Update the properties of a lobby",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the lobby",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The update lobby request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLobby"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lobby"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/lobbies/{id}/tags": {
      "put": {
        "tags": [
          "Lobby"
        ],
        "summary": "Add the request tags to the requested player.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the lobby",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Includes the player ID and tags to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTags"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lobby"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Lobby"
        ],
        "summary": "Remove the request tags from the requested player.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the lobby",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Includes the player ID and the tags to remove.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTags"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lobby"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/lobbies/{id}/server": {
      "post": {
        "tags": [
          "Lobby"
        ],
        "summary": "Invoke the Lobby actor to make the federated game server request.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the lobby",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Includes an optional matchtype",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFederatedGameServer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiLobbiesServerPostLobbyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/mailbox/publish": {
      "post": {
        "tags": [
          "Mailbox"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMailboxPublishPostMailboxResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/parties": {
      "post": {
        "tags": [
          "Party"
        ],
        "summary": "Create a party for the current player.",
        "requestBody": {
          "description": "Argument to pass to the party actor to initialize state.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateParty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Party"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/parties/{id}/metadata": {
      "put": {
        "tags": [
          "Party"
        ],
        "summary": "Updates party state.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the party",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Argument to pass to the party actor to update state.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Party"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/parties/{id}": {
      "get": {
        "tags": [
          "Party"
        ],
        "summary": "Return the status of a party.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the party",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Party"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Party"
        ],
        "summary": "Join a party",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the party",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Party"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/parties/{id}/promote": {
      "put": {
        "tags": [
          "Party"
        ],
        "summary": "Promote a party member to leader.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the party",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Player to promote to leader",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoteNewLeader"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Party"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/parties/{id}/invite": {
      "post": {
        "tags": [
          "Party"
        ],
        "summary": "Invite a player to a party",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the party",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Player to invite to the party",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteToParty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPartiesInvitePostPartyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Party"
        ],
        "summary": "Cancel party invitation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the party",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Player to be uninvited",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelInviteToParty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPartiesInviteDeletePartyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/parties/{id}/members": {
      "delete": {
        "tags": [
          "Party"
        ],
        "summary": "Remove the requested player from the party. The leader is able to remove anyone. Others may\nonly remove themselves without error.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the party",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The leave party request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaveParty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPartiesMembersDeletePartyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/players/{playerId}/lobbies": {
      "get": {
        "tags": [
          "PlayerLobby"
        ],
        "summary": "Fetch the requested player's lobby information",
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lobby"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "PlayerLobby"
        ],
        "summary": "If the requested player is in a lobby, remove the player",
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPlayersLobbiesDeletePlayerLobbyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/players/{playerId}/parties": {
      "get": {
        "tags": [
          "PlayerParty"
        ],
        "summary": "Fetch the requested player's party information",
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Party"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "PlayerParty"
        ],
        "summary": "If the requested player is in a party, remove the player",
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "Player Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPlayersPartiesDeletePlayerPartyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/players/{playerId}/parties/invites": {
      "get": {
        "tags": [
          "PlayerParty"
        ],
        "summary": "Return list of party invites for player.",
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "PlayerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartyInvitesForPlayerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [ ],
            "scope": [ ]
          }
        ]
      },
      "parameters": [
        {
          "name": "X-BEAM-GAMERTAG",
          "in": "header",
          "description": "Override the playerId of the requester. This is only necessary when not using a JWT bearer token.",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/players/{playerId}/party/invites": {
      "get": {
        "tags": [
          "PlayerParty"
        ],
        "summary": "Return list of party invites for player.",
        "parameters": [
          {
[...]
